* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

a:hover,
a.active {
  color: #15e6e6;
  border-bottom: 3px solid #15e6e6;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  padding: 2rem 2rem;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  list-style: none;
  flex-wrap: wrap;
}

.home-content {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-weight: 500;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.studio {
  color: #15e6e6;
  font-weight: 900;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin: 5rem 2rem 4rem;
  gap: 3rem;
  flex: 1;
}

.page-content h1 {
  text-align: center;
}

.center-content {
  margin: 5rem auto 0;
  width: 100%;
  max-width: 1200px;
}

.site-footer {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #111;
}

.center-home {
  justify-content: center; /* vertically center in page-content */
  align-items: center; /* horizontally center content */
  text-align: center;
}

.mainLogo {
  display: flex;
  justify-content: center;
  font-size: 7rem;
  justify-self: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* GLOW */
.mainLogo:hover {
  animation: glow 1s ease-in-out infinite alternate;
  color: #15e6e6;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #15e6e6, 0 0 10px #15e6e6;
  }
  to {
    text-shadow: 0 0 15px #15e6e6, 0 0 30px #15e6e6;
  }
}
